.mf{
  line-height: 1.3;
  border: 1em solid var(--ld-red);
  border-top: transparent;
  text-align: center;
  border-bottom: transparent;
}

.mf-mainhead.mf-mainhead{
  font-weight: 600;
}

.mf-page{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 3em;

}

.mf-statement{
  display: inline-block;
  text-decoration: none;
  color: inherit;
  max-width: 20em;
}


.mf-head{
}

.mf-footer{
  background: var(--ld-really-dark);
  color: white;
  height: auto;
  padding: 4em 3em;
}
.mf-footer__content{
  max-width: 45em;
}
