/*

Hello There!

Want to take a look into my stylesheet skills?
For this I'm using native css with a postcss step to produce
css for browser that don't understand native variables yet.

On my Projects I've worked with Sass in both scss and sass syntax, with less and stylus.

I think in the end, css is a tool and the only tool we currently have so we have to treat it good.

*/


*,*:before,*:after{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  overflow: auto;
}

@media (max-width: 600px) {
  a[href="index.html#resume"]{
    display: none;
  }
  #work .ld-browserframe{
    display: none;
  }
}

@media (max-width: 400px) {
  a[href="index.html#about"]{
    display: none;
  }
}

.hld-header{
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background: var(--ld-blue--light);
  color: white;
  border-bottom: 5px solid var(--ld-blue);
  text-align: center;
}
.hld-header .ld-headline{
  text-align: center;
}
.hld-header--ui-lib{
  height: 20em;
}
.hld-content{
  padding: 0 1.5em;
  max-width: 55em;
  margin: 0 auto;
}

.hld-section{
  padding: 3em 0 0 0;
}
.hld-section__projecthead{
  text-align: center;
  padding: 2.5em;
}

.hld-tag-group{
  padding: .5em 0 1em 0;
}


.hld-resume{
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  text-align: center;
}

.hld-resume__role{
  margin-bottom: 1em;
}
.hld-resume__time{
  font-size: inherit;
  display: block;
  font-weight: 200;
}
.hld-resume__position-name{
  font-size: 1.5em;
}

.hld-resume__company{
  font-weight: 700;
  font-size: 1em;
  padding-bottom: 3em;
}



.hld-siteadmin-nav{
  width: 250px;
  height: 373px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 2.5em;

}
.hld-siteadmin-nav__image{
  display: block;
  opacity: 0;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.hld-siteadmin-nav__image:first-child{
  animation: first 15s linear infinite;
}
.hld-siteadmin-nav__image{
  animation: second 15s linear infinite;
}
.hld-siteadmin-nav__image:last-child{
  animation: last 15s linear infinite;
}



@keyframes first{
  0%{
    opacity: 1;
  }
  25%{
    opacity: 1;
  }
}

@keyframes second{
  25%{
    opacity: 0;
  }
  30%,55%{
    opacity: 1
  }
}
@keyframes last{
  55%{
    opacity: 0;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

.hld-image{
  margin: 0 auto 3em;
  display: block;
  max-width: 100%;
}
.hld-cta{
  color: var(--ld-really-dark);
  background-color: var(--ld-green);
}

.hld-footer{
  color: white;
  background: var(--ld-blue);
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  text-align: center;
}
.hld-footer__cta{
  background: var(--main-color--light);
  padding: 2em 0;
}

.hld-footer__headline{
  font-weight: 300;
  margin: 1em 0;
}
.hld-footer__content{
  padding: 2em 1.5em;
  margin: 0 auto;
  max-width: 29em;
  text-align: left;
}
.hld-footer__link{
  font-weight: 700;
  display: block;
  margin-bottom: 1em;
}
.hld-footer__divider{
  background: white;
}
.hld-footer__end{
  width: 100%;
  max-width: 50em;
  font-size: .8em;
  display: block;
  margin: 0 auto;
  padding-bottom: 2.5em;
}

.print{
  display: none;
}
@media print{
  .print{
    display: block;
    color: black;
  }
  .hld-content{
    padding: 0 3em;
  }
  .screen{
    display: none;
  }
  .ld-topbar,.hld-footer__cta,#work,.hld-footer__content,.hld-footer__end{
    display: none;
  }
  .hld-section{
    page-break-after: always;
  }
  #resume{
    page-break-after: avoid;
  }
  .hld-header{
    color: black
  }
  .ld-tags{
    background-color: green;
  }

}
