*,*:before,*:after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  color: #5A5A5A;
  font-size: 18px;
  overflow: auto;
}

.ldw-home{
  border: 1em solid var(--ld-red);
  border-top: transparent;
  border-bottom: transparent;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

::selection{
  background: var(--ld-red); /* WebKit/Blink Browsers */
  color: var(--ld-light);
}
::-moz-selection {
  background: var(--ld-red); /* WebKit/Blink Browsers */
  color: var(--ld-light);
}

.ldw-content{
  padding: 0 3em;
  max-width: 60em;
}




