<nav class="ld-nav">
  <a href="#about" class="ld-nav__item">About</a>
  <a href="#work" class="ld-nav__item">Projects</a>
  <a href="#expertise" class="ld-nav__item">Expertise</a>
  <a href="#resume" class="ld-nav__item">Resume</a>
  <a href="mailto:hire@lassediercks.de" class="ld-nav__item hld-topbar__contact">Contact</a>
</nav>
