<nav class="ld-topbar">
  <a href="#about" class="ld-topbar__item">About</a>
  <a href="#work" class="ld-topbar__item">Projects</a>
  <a href="#expertise" class="ld-topbar__item">Expertise</a>
  <a href="#resume" class="ld-topbar__item">Resume</a>
  <a href="mailto:hire@lassediercks.de" class="ld-topbar__item hld-topbar__contact">Contact</a>
</nav>
