body {
  padding: 0;
  margin: 0;
}

header {
  padding: calc(var(--base) * 5);
  margin: 0 auto;
  max-width: 48em;
  width: 100%;
}
main {
  padding: calc(var(--base) * 5);
  max-width: 48em;
  width: 100%;
  margin: 0 auto;
}

footer {
  padding: calc(var(--base) * 5);
}

.footer-links {
  max-width: 48em;
  width: 100%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;

  grid-row-gap: var(--base);
  margin-bottom: calc(var(--base) * 4);
}
