
<footer>
    <div class="footer-links">
        <a class="ld-link" href="https://twitter.com/lassediercks">
        follow me on twitter</a>
        <a class="ld-link" href="https://instagram.com/lassediercks">
        explore my photos on instagram</a>
        <a class="ld-link" href="https://github.com/lassediercks" >review my projects on Github</a>
        <a class="ld-link" href="http://codepen.io/lassediercks" >inspect my Codepens</a>
        <a class="ld-link" href="https://medium.com/@lassediercks">read my thoughts on Medium</a>
        <a class="ld-link" href="https://open.spotify.com/user/lassediercks">listen to my Music on Spotify</a>

        <br><br>
        2018 Lasse Diercks  - hire@lassediercks.de
    </div>
</footer>
    
    </body>
    </html>
    
    