
<footer>
    <div class="footer-content">
      {{ dateFormat "2006" now }}  Lasse Diercks  - moin@lassediercks.de
    </div>
</footer>
    
<script>
        window.ga =
          window.ga ||
          function() {
            (ga.q = ga.q || []).push(arguments);
          };
        ga("create", "UA-25133681-1", "auto");
        ga("set", "transport", "beacon");
        ga("send", "pageview");</script>
<script async="" src="https://www.google-analytics.com/analytics.js"></script>
    </body>
    </html>
    
    