
  <footer>

        <div class="links">
    
          <a href="https://twitter.com/lassediercks">
            follow me on twitter</a>
            <a href="https://instagram.com/lassediercks">
              follow me on instagram</a>
              <a href="https://github.com/lassediercks" >Review my projects on Github</a>
              <a href="http://codepen.io/lassediercks" >Inspect my Codepens</a>
              <a href="https://medium.com/@lassediercks">Read my thoughts on Medium</a>
              <a href="https://open.spotify.com/user/lassediercks">Listen to my Music on Spotify</a>
            </div>
        2018 Lasse Diercks  - hire@lassediercks.de
      </footer>
    </div>
    
    </body>
    </html>
    
    