<!DOCTYPE html>

<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#7C4BD4">

    <title>Lasse Diercks</title>
    <meta property="og:site_name" content="Lasse Diercks"/>
    <meta property="og:title" content="Lasse Diercks"/>

    <link rel="canonical" href="https://www.lassediercks.de">
    <meta name="robots" content="index, follow">

    <meta name="description" content="I help people to succeed in the web.">
    <meta property="og:description" content="I help people to succeed in the web."/>
    <meta property="og:image" content="https://lassediercks.de/img/open-graph.png?1">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:type" content="image/png">
    <meta property="og:email" content="hello@lassediercks.de"/>
    <meta property="og:url" content="https://lassediercks.de/">

    <meta name="twitter:card" content="photo" />
    <meta name="twitter:site" content="@lassediercks" />
    <meta name="twitter:image:width" content="750" />
    <meta name="twitter:image:height" content="560" />
    <meta name="twitter:title" content="Lasse Diercks" />
    <meta name="twitter:description" content="I help people to succeed in the web." />
    <meta name="twitter:image" content="https://lassediercks.de/img/twitter.png" />

    <link rel="stylesheet" href="http://design.lassediercks.de/lassediercks.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,900" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    <!-- Facebook Pixel Code -->
    <script>
    !(function(f, b, e, v, n, t, s) {
    if (f.fbq) return;
    n = f.fbq = function() {
    n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
    };
    if (!f._fbq) f._fbq = n;
    n.push = n;
    n.loaded = !0;
    n.version = "2.0";
    n.queue = [];
    t = b.createElement(e);
    t.async = !0;
    t.src = v;
    s = b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t, s);
})(
    window,
    document,
    "script",
    "https://connect.facebook.net/en_US/fbevents.js"
);
fbq("init", "1925189007791166");
fbq("track", "PageView");
</script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1925189007791166&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->



</head>
        
<body>
        <div class="ld">
      