<div class="ldw-social">
  <a class="ldw-social__link" href="https://twitter.com/lassediercks"
    >Twitter</a
  >
  <a class="ldw-social__link" href="https://instagram.com/lassediercks"
    >Instagram</a
  >
  <a class="ldw-social__link" href="http://github.com/lassediercks">Github</a>
  <a class="ldw-social__link" href="http://codepen.io/lassediercks">Codepen</a>
  <a class="ldw-social__link" href="https://medium.com/@lassediercks">Medium</a>
  <a
    class="ldw-social__link"
    href="https://www.youtube.com/channel/UCkdDfXiHbZnoqFjN9eLXDvA?view_as=subscriber"
    >Youtube</a
  >
  <a class="ldw-social__link" href="https://open.spotify.com/user/lassediercks"
    >Spotify</a
  >
</div>
