
  <div class="ld-call-and-action hld-footer__cta">
    <div class="ld-call-and-action__text">
      <h3 class="ld-call-and-action__title">Are you building the web?</h3>
      <h4 class="ld-call-and-action__subtitle">I'm currently looking for part-time projects in Q1 of 2018</h4>
    </div>
    <a id="footer-contact" href="mailto:hire@lassediercks.de?subject=Let's make the internet better, together." class="ld-call-and-action__button ld-button hld-cta">Hire me</a>
  </div>
  <div class="ld-call-and-action print">
    <div class="ld-call-and-action__text">
      <h3 class="ld-call-and-action__title" aria-hidden>Want me on your Team?</h3>
      <h4 class="ld-call-and-action__subtitle" aria-hidden>I'd be happy to recieve an e-mail from you at hire@lassediercks.de</h4>
    </div>
  </div>
