<footer class="hld-footer">



  <div class="hld-footer__content">
    <div class="ld-grid">
      <h4 class="hld-footer__headline ld-grid__row">
        Where to find more stuff from me in the rest of the interwebs?
      </h4>
      <div class="ld-grid__col">
        <a href="https://medium.com/@lassediercks" class="ld-link hld-footer__link">Read my thoughts on Medium</a>
        <a href="http://lassediercks.de/manifesto/" class="ld-link hld-footer__link">Get inspired by my manifesto</a>
        <a href="https://github.com/lassediercks" class="ld-link hld-footer__link">Review my projects on Github</a>
        <a href="http://codepen.io/lassediercks" class="ld-link hld-footer__link">Inspect my Codepens</a>
      </div>
      <div class="ld-grid__col">

        <a href="https://twitter.com/lassediercks" class="ld-link hld-footer__link">Follow me on Twitter</a>
        <a href="https://www.instagram.com/lassediercks/" class="ld-link hld-footer__link">Look at my Instagram</a>
        <a href="https://open.spotify.com/user/lassediercks" class="ld-link hld-footer__link">Listen to my Music on Spotify</a>
      </div>
    </div>



  </div>
  <div class="hld-footer__end">
    <hr class="ld-divider hld-footer__divider">
    2017 Lasse Diercks  - hire@lassediercks.de
  </div>
</footer>

</body>
</html>
