<footer class="hld-footer">

  <div class="ld-call-and-action hld-footer__cta">
    <div class="ld-call-and-action__text">
      <h3 class="ld-call-and-action__title">Are you building the web?</h3>
      <h4 class="ld-call-and-action__subtitle">I'm currently considering Projects for Q3 &amp; Q4 of 2017</h4>
    </div>
    <a id="footer-contact" href="mailto:hire@lassediercks.de?subject=Let's make the internet better, together." class="ld-call-and-action__button ld-button hld-cta">Hire me</a>
  </div>
  <div class="ld-call-and-action print">
    <div class="ld-call-and-action__text">
      <h3 class="ld-call-and-action__title" aria-hidden>Want me on your Team?</h3>
      <h4 class="ld-call-and-action__subtitle" aria-hidden>I'd be happy to recieve an e-mail from you at hire@lassediercks.de</h4>
    </div>
  </div>


  <div class="hld-footer__content">
    <div class="ld-grid">
      <h4 class="hld-footer__headline ld-grid__row">
        Where to find more stuff from me in the rest of the interwebs?
      </h4>
      <div class="ld-grid__col">
        <a href="https://medium.com/@lassediercks" class="ld-link hld-footer__link">Read my thoughts on Medium</a>
        <a href="http://lassediercks.de/manifesto/" class="ld-link hld-footer__link">Get inspired by my manifesto</a>
        <a href="https://github.com/lassediercks" class="ld-link hld-footer__link">Review my projects on Github</a>
      </div>
      <div class="ld-grid__col">
        <a href="http://codepen.io/lassediercks" class="ld-link hld-footer__link">Inspect my Codepens</a>
        <a href="https://twitter.com/lassediercks" class="ld-link hld-footer__link">Follow me on Twitter</a>
        <a href="https://www.instagram.com/lassediercks/" class="ld-link hld-footer__link">Look at my Instagram</a>
      </div>
    </div>



  </div>
  <div class="hld-footer__end">
    <hr class="ld-divider hld-footer__divider">
    2017 Lasse Diercks  - hire@lassediercks.de
  </div>
</footer>

</body>
</html>
