<html lang="en">

<!DOCTYPE html>

<!--

Hello inspector awesome,

Do you know the good ol' times when Firebug, the plugin for mozilla, was the only inspecting Tool? I do 😀

The hottest discussion I've had about Html has been if an interface needs semantically correct Html or not. Spoiler: Yes.

When creating HTML I strongly care for structure, readability and accessibility.

Have fun inspecting my Website.

PS: This whole thing is created upon a small design system I created for myself.
check it out here: https://design.lassediercks.de

-->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#303340">

  <title>Lasse Diercks | Design Ops</title>
  <meta property="og:site_name" content="Lasse Diercks | Design Ops"/>
  <meta property="og:title" content="Lasse Diercks | Design Ops"/>

  <link rel="canonical" href="https://www.lassediercks.de">
  <meta name="robots" content="index, follow">

  <meta name="description" content="Design Ops working for a better web.">
  <meta property="og:description" content="Design Ops working for a better web."/>
  <meta property="og:image" content="https://lassediercks.de/img/open-graph.png?1">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:strokeColor" content="#5E78D1">
  <meta property="og:image:type" content="image/png">
  <meta property="og:email" content="hello@lassediercks.de"/>
  <meta property="og:url" content="https://lassediercks.de/">

  <meta name="twitter:card" content="photo" />
  <meta name="twitter:site" content="@lassediercks" />
  <meta name="twitter:image:width" content="750" />
  <meta name="twitter:image:height" content="560" />
  <meta name="twitter:title" content="Lasse Diercks" />
  <meta name="twitter:description" content="Design Ops working for a better web." />
  <meta name="twitter:image" content="https://lassediercks.de/img/twitter.png" />


  <script src="./lassediercks.js"></script>

  <script type="text/javascript">
// '%c Oh my heavens! ', 'background: #222;');
  function helloInspector(){
    console.log("%cHello There!", 'line-height: 3;color: #3B3B3B;font-size: 22px;font-family:sans-serif;font-weight:bold;')
    console.log("%cI see you want to take a peek under the roof?", 'color: #3B3B3B;font-size: 18px;font-family:sans-serif;')
    console.log("%cWith my current level of javascript skills I’m able to modify existing code and estimate what is possible. When it comes to implementing business logic I prefer to pair up with a frontend-developer to get the concepts into production.", 'color: #3B3B3B;font-size: 18px;font-family:sans-serif;')
  };

  helloInspector();

  </script>


  <link rel="preload" href="https://design.lassediercks.de/font/Merriweather-Bold.woff2" type='font/woff2' as="font">
  <link rel="preload" href="https://design.lassediercks.de/font/MerriweatherSans-Bold.woff2" type='font/woff2' as="font">
  <link rel="preload" href="https://design.lassediercks.de/font/MerriweatherSans-Regular.woff2" type='font/woff2' as="font">
  <link rel="preload" href="https://design.lassediercks.de/font/Merriweather-Regular.woff2" type='font/woff2' as="font">

  <link href="https://design.lassediercks.de/font/Merriweather-Bold.woff" type='font/woff'>
  <link href="https://design.lassediercks.de/font/MerriweatherSans-Bold.woff" type='font/woff'>
  <link href="https://design.lassediercks.de/font/MerriweatherSans-Regular.woff" type='font/woff'>
  <link href="https://design.lassediercks.de/font/Merriweather-Regular.woff" type='font/woff'>
  <link rel="stylesheet" href="https://design.lassediercks.de/font/merriweather.css">

  <link rel="stylesheet" href="./lassediercks.css">
  <!-- <link rel="stylesheet" href="https://design.lassediercks.de/dist/lassediercks.css"> -->

  <link rel="stylesheet" href="style.css">

  <% include ga %>

</head>
