<nav class="ld-topbar">
  <a href="index.html#about" class="ld-topbar__item">About</a>
  <a href="index.html#work" class="ld-topbar__item">Work</a>
  <a href="index.html#expertise" class="ld-topbar__item">Expertise</a>
  <a href="index.html#resume" class="ld-topbar__item">Resume</a>
  <a href="mailto:hire@lassediercks.de" class="ld-topbar__item hld-cta">Contact</a>
</nav>
