<nav class="hld-nav">
  <a href="index.html#about" class="hld-nav__item">About</a>
  <a href="index.html#work" class="hld-nav__item">Work</a>
  <a href="index.html#expertise" class="hld-nav__item">Expertise</a>
  <a href="index.html#resume" class="hld-nav__item">Resume</a>
  <a href="mailto:hire@lassediercks.de?subject=Let's make the internet better, together." class="hld-nav__item ld-cta">Hire me</a>
</nav>
