<% include partials/head %>
<meta property="og:site_name" content="Call for Clients | Lasse Diercks"/>
<meta property="og:title" content="Call for Clients | Lasse Diercks"/>
<body class='ld hld'>
<% include partials/topbar %>

  <header class="hld-header">
    <h1 class="ld-headline">Call for clients</h1>
    <span class="">Looking For Adventures in 2018</span>
  </header>

  <main class="hld-content">
    <h2 class="ld-headline">
      New horizons ahead
    </h3>

    <p class="ld-paragraph">Not only is the end of 2017 around the corner, my projects are also coming to an end. I'm super excited that I don't know what I will work on in 2018 yet. What's for sure: I learned a lot more about building the web.
<br><br>
What's unknown if you are the next one who benefits from my knowledge.</p>
    <hr class="ld-divider">
    <h3 class="ld-headline">
      You want to work with me when
    </h3>
    <section class="hld-section">
    <ul class="ld-list">
      <li class="ld-list__item">you think there is a gap between your design and development team</li>
      <li class="ld-list__item">you want to build a pattern library but don't know where to start</li>
      <li class="ld-list__item">you have 5 different buttons for the same action</li>
      <li class="ld-list__item">you think CSS is broken and no one understands your stylesheets</li>
      <li class="ld-list__item">you struggle to deliver an awesome user experience across big and small devices</li>
      <li class="ld-list__item">you want to implement an idea in hours. Not weeks.</li>
      <li class="ld-list__item">want to scale your product to an internationally competitive level</li>
    </ul>

    <hr class="ld-divider">

    <h3 class="ld-headline">
      I want to work with you when
    </h3>
    <ul class="ld-list">
      <li class="ld-list__item">you're creating something to live in the web</li>
      <li class="ld-list__item">you have a medium sized product development team (5-20)</li>
      <li class="ld-list__item">you work or want to work agile</li>
      <li class="ld-list__item">you are setup for remote workers or have an office in Hamburg.</li>
      <li class="ld-list__item">you want to learn.</li>
    </ul>
    <hr class="ld-divider">
    <h1 class="ld-statement">
      Do you want to talk?
    </h1>
    <p class="ld-paragraph ld-paragraph--centered">If I have you're attention, please feel free to call me on <br>+49 157 343 76 122 or <a class="ld-link" href="mailto:cfc@lassediercks.de">drop me a mail.</a></p>



    </section>
  </main>


<% include partials/footer %>
