
<% include partials/head %>
<body class='ld hld'>

  <% include partials/topbar %>

  <header class="hld-header">
    <img class="ld-avatar" src="http://lassediercks.github.io/design/images/profile-square_500.png" alt="A picture of a smiling Lasse Diercks">
    <h1 class="ld-headline">Lasse Diercks</h1>
    <span class="">Design Technologist | Hamburg, Germany<span class="print"> hire@lassediercks.de</span></span>
  </header>

  <main class="hld-content">
    <section class="hld-section" id="about">
      <h2 class="ld-statement">I combine design thinking and technology to create awesome experiences</h2>
      <br><br>
      <p class="ld-paragraph ld-paragraph--centered">
        I'm here to solve problems.
        <br><br>
        My journey has taught me why prototyping is important, how to create kick-ass icons and what it's like to be a product owner.
        <br><br>
        5 Years at
        <a href="http://www.jimdo.com" class="ld-link">Jimdo, a website builder in Hamburg</a>, provided me with a learning focused and continuous-improvement mindset. When working on an Interface that is used to build websites you learn alot about almost every inch of the internet.
        <br><br>We came a long way from tables and inline styling. Today we create prototypes to communicate ideas, design-systems to achieve behaviour, design and code consistency and codepens to experiment with a few lines of code. I want to help designers with my technical point of view and developers with my design expertise to create awesome experiences.
        <br><br>
        Take a look around here and if you also think I add value to your product, <a href="mailto:hire@lassediercks.de" class="ld-link screen">let's get to know each other.</a> <span class="print">write a mail at hire@lassediercks.de</span>
      </p>
    </section>

    <section class="hld-section" id="work">

      <div class="ld-heading">
        <h3 class="ld-heading__title">Work I'm proud of</h3>
      </div>

    <div class="ld-grid">
      <h3 class="ld-grid__row ld-headline">
        Jimdo Ui-Library
      </h3>
      <div class="ld-grid__col">
        <p class="ld-paragraph">How can a few designers take big steps into design consistency? By establishing a pattern-library.</p>
        <a href="ui-library.html" class="ld-button">Open Project</a>

      </div>
      <div class="ld-grid__col">
        <div class="ld-browserframe">
          <div class="ld-browserframe__head">
            <div class="ld-browserframe__buttons">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="ld-browserframe__url"></div>
          </div>
          <img class="ld-browserframe__image" src="./img/ui-library.png" alt="Screenshot of the Jimdo UI-library">
        </div>
      </div>
    </div>

    <hr class="ld-divider">
    <div class="ld-grid">
      <h3 class="ld-grid__row ld-headline">Jimdo Icons</h3>
      <div class="ld-grid__col">
        <p class="ld-paragraph">I've been the go-to person for icons. After several incidents with Html entities, I had to change something</p>
        <a href="icons.html" class="ld-button">Open Project</a>
      </div>
      <div class="ld-grid__col">
        <div class="ld-browserframe">
          <div class="ld-browserframe__head">
            <div class="ld-browserframe__buttons">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="ld-browserframe__url"></div>
          </div>
          <img class="ld-browserframe__image" src="./img/jimdo-icons.png" alt="Screenshot of Jimdo Icons">
        </div>
      </div>
    </div>
    <hr class="ld-divider">
    <div class="ld-grid">
      <h3 class="ld-grid__row ld-headline">My very own pattern library</h3>
      <div class="ld-grid__col">
        <p class="ld-paragraph">I'm serious, I've build a small living pattern library for this website.</p>
        <a href="http://lassediercks.github.io/design/" class="ld-button">Go To Pattern Library</a>
      </div>
      <div class="ld-grid__col">
        <div class="ld-browserframe">
          <div class="ld-browserframe__head">
            <div class="ld-browserframe__buttons">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="ld-browserframe__url"></div>
          </div>
          <img class="ld-browserframe__image" src="./img/ld-design.png" alt="Screenshot of the pattern library of lasse diercks">
        </div>
      </div>
    </div>
    <hr class="ld-divider">
    <div class="ld-grid">
      <h3 class="ld-grid__row ld-headline">What is a design process - Medium Article</h3>
      <div class="ld-grid__col">
        <p class="ld-paragraph">In my free time, I write articles on medium. This one really got around the world and I'm super excited to share more learnings with the community.</p>
        <a href="https://medium.com/sketch-app-sources/what-is-a-design-process-f99993537545#.k01obcjds" class="ld-button">Go To Article</a>
      </div>
      <div class="ld-grid__col">
        <div class="ld-browserframe">
          <div class="ld-browserframe__head">
            <div class="ld-browserframe__buttons">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="ld-browserframe__url"></div>
          </div>
          <img class="ld-browserframe__image" src="./img/medium-article.png" alt="Screenshot of a medium article about the design process">
        </div>
      </div>
    </div>
    <hr class="ld-divider">
      <h3 class="ld-headline">The next awesome Thing-Im-Proud-Of™</h3>
        <p class="ld-paragraph ld-pagraph--centered">Do you need some experienced hands on your pattern-library or need help creating one?
        </p>
        <a href="mailto:hire@lassediercks.de?subject=Let's make the internet better, together." class="ld-button hld-cta">Hire me</a>

    </section>


    <section class="hld-section" id="expertise">
      <div class="ld-heading">
        <h3 class="ld-heading__title">Expertise</h3>
        <h4 class="ld-heading__subtitle">Things I'm familiar with</h4>
      </div>
      <h3 class="ld-headline">Technologies I've used to get stuff done</h3>
      <div class="hld-tag-group">
        <span class="ld-tag">Html</span>
        <span class="ld-tag">CSS</span>
        <span class="ld-tag">Js</span>
        <span class="ld-tag">Sass/Less/Stylus</span>
        <span class="ld-tag">Jquery</span>
        <span class="ld-tag">Jsx</span>
      </div>


      <h3 class="ld-headline">I have working experience in</h3>
      <div class="hld-tag-group">
        <span class="ld-tag">React</span>
        <span class="ld-tag">Angular</span>
        <span class="ld-tag">Ruby on Rails</span>
        <span class="ld-tag">Grunt/Gulp</span>
        <span class="ld-tag">CSS Modules</span>
        <span class="ld-tag">Legacy css</span>
        <span class="ld-tag">BEM</span>
      </div>


      <h3 class="ld-headline">Tools I use &amp; endorse</h3>
      <div class="hld-tag-group">
        <span class="ld-tag">Pen&amp;Paper</span>
        <span class="ld-tag">Design Studio</span>
        <span class="ld-tag">Codepen</span>
        <span class="ld-tag">Sketch</span>
        <span class="ld-tag">Adobe Creative Suite</span>
        <span class="ld-tag">Sublime Text2</span>
        <span class="ld-tag">Iterm2</span>
        <span class="ld-tag">Github</span>
        <span class="ld-tag">NPM</span>
        <span class="ld-tag">Bower</span>
        <span class="ld-tag">Commit style</span>
        <span class="ld-tag">Coffee without Milk</span>
        <span class="ld-tag">PDCA</span>
        <span class="ld-tag">Kanban</span>
        <span class="ld-tag">Pomodoro</span>
        <span class="ld-tag">Scrum</span>
      </div>

      <h3 class="ld-headline">To sum it up:</h3>
      <ul class="ld-list ld-list--big">
        <li class="ld-list__item">I save money by building tools that automate work</li>
        <li class="ld-list__item">I know that a good outcome heavily depends on a good process</li>
        <li class="ld-list__item">I am in sync with the enormous pace of web development</li>
        <li class="ld-list__item">I focus on the intention to achieve the right result</li>
      </ul>
      <div class="ld-call-and-action print">
        <div class="ld-call-and-action__text">
          <h3 class="ld-call-and-action__title" aria-hidden>Want me on your Team?</h3>
          <h4 class="ld-call-and-action__subtitle" aria-hidden>I'd be happy to recieve an e-mail from you at hire@lassediercks.de</h4>
        </div>
      </div>

    </section>

    <section class="hld-section" id="resume">
      <div class="ld-heading">
        <h3 class="ld-heading__title">Resume</h3>
        <h4 class="ld-heading__subtitle">Chronological collection of the roles I've fulfilled</h4>
      </div>
      <ol class="hld-resume">
        <li class="hld-resume__role">
          <time class="hld-resume__time">10/2016 - Now</time>
          <span class="hld-resume__position-name">Design Technologist</span>
        </li>
        <li class="hld-resume__company">
          Freelance
        </li>
        <li class="hld-resume__role">
          <time class="hld-resume__time">04/2015 - 09/2016</time>
          <span class="hld-resume__position-name">Ui-Engineer</span>
        </li>
        <li class="hld-resume__role">
          <time class="hld-resume__time">01/2015 - 03/2015</time>
          <span class="hld-resume__position-name">Product Owner</span>
        </li>
        <li class="hld-resume__role">
          <time class="hld-resume__time">01/2013 - 12/2014</time>
          <span class="hld-resume__position-name">Interface Designer</span>
        </li>
        <li class="hld-resume__role">
          <time class="hld-resume__time">03/2012 - 12/2012</time>
          <span class="hld-resume__position-name">Online Marketing Design</span>
        </li>
        <li class="hld-resume__role">
          <time class="hld-resume__time">09/2011 - 02/2012</time>
          <span class="hld-resume__position-name">Junior designer</span>
        </li>
        <li class="hld-resume__company">
          Jimdo GmbH
        </li>
      </ol>
    </section>
  </main>

  <% include partials/footer %>

</body>
</html>
